.configurationContainer {
    border-width: 1px;
    border-style: none solid none none;
    padding: 20px;
}

.configurationContainer div {
    height: 25%;
    margin-bottom: 15px;
}

.configurationContainer h2 {
    padding-left: 1vw;
    height: 5vh;
}

.middleConfigDiv label,
.topConfigDiv label {
    padding-bottom: 4vh;
    display: inline-block;
    text-align: center;
    font-size: x-large;
    width: 33%;
}

.middleConfigDiv input,
.topConfigDiv input {
    width: 20%;
}

.bottomConfigDiv label {
    padding-bottom: 4vh;
    display: inline-block;
    text-align: center;
    font-size: large;
    width: 40%;
}

.bottomConfigDiv input {
    display: inline-block;
    width: 55%;
    height: 5vh;
    font-size: large;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: white;
    outline: none;
}

@media (max-width: 900px) {
    .configurationContainer {
        border: none;
    }

    .configurationContainer div {
        height: auto;
    }
}