.main {
  margin: 0 auto;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
}

.left {
  display: grid;
  flex-direction: column;
  width: 40vw;
}

.right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 40vw;
}

@media (max-width: 900px) {
  .main {
      grid-template-columns: 1fr;
      height: auto;
  }

  .left {
      border-style: none;
      width: auto;
  }

  .right {
      padding: 20px;
      flex-direction: column;
      width: auto;
  }
}