.service-container {
  margin: 1vh 1vw;
  height: 15vh;
  /* max-width: 50%; */

  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2c3e50;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #1e2a38;
  color: #f5f5f5;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.service-container:hover {
  background-color: #2a3b50;
  border-color: #4c97ff;
  box-shadow: 0 6px 10px rgba(76, 151, 255, 0.3);
}

.isSelected {
  background-color: #4c97ff;
  color: white;
  border-color: #1e7bf6;
  box-shadow: 0 8px 12px rgba(76, 151, 255, 0.4);
}

.container-text {
  background-color: transparent;
  color: inherit;
}

.service-container:hover .container-text {
  background-color: inherit;
  color: inherit;
}

.isSelected .container-text {
  background-color: transparent;
  color: inherit;
}

.h3 {
  flex-grow: 1;
  align-self: stretch;
}
