.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 50px;
  height: calc(10vh - 1px);
  padding: 0 30px;
  max-width: 70vw;
  border-width: 1px;
  border-style: none none solid none;
  color: white;
  font-family: Arial, sans-serif;
}

.toolbar-left {
  display: flex;
  align-items: center;
  height: 8vh;
}

.toolbar-logo {
  font-family:'Courier New', Courier, monospace;
  font-size: 2.5rem;
}

.toolbar-right {
  display: flex;
  align-items: center;
}

.os-selector {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: #101520;
}

.spacer {
  min-width: 10px;
}

@media (max-width: 900px) {
  .toolbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
  }
}