.home {
    max-width: 80vw;
    margin: 0 auto;
    position: relative;
    border-width: 1px;
    border-style: none solid;
}

@media (max-width: 900px) {
    .home {
        max-width: 90vw;
        min-width: auto;
    }
}